.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .3);
  backdrop-filter: blur(1px);
  z-index: 999;
  display: block; /* Always displayed when rendered */
}

.popup-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 400px;
  background: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  border-radius: 20px;
  z-index: 1001;
  display: block; /* Always displayed when rendered */
}

.popup-content {
  position: relative;
  padding: 20px;
  /* Add more padding to account for the close button */
  padding-top: 40px;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  background: red;
  color: #fff !important;
  border-radius: 50%;
  font-size: 20px;
  line-height: 1;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
}