/* Add this to ensure the form is presented as a full screen modal */
.login-container {
    position: fixed; top: 0; left: 0; width: 100vw; height: 100vh;
    background-color: rgb(0 0 0 / .5); display: flex;
    align-items: center; justify-content: center; z-index: 1000;
}
.login-box {
    background-color: #e3f2fd; padding: 20px; border-radius: 15px;
    box-shadow: 0 4px 8px rgb(0 0 0 / .2); width: 90%; max-width: 400px;
    text-align: center; position: relative;
}
.scrollable-popup {
    max-height: 95vh;
    overflow-y: auto;
}
.form-error {
    color: red;
    margin-bottom: 10px;
}

.profile-form-box {
  padding: 20px;
  text-align: center;
}
.profile-form-box h2 {
  font-size: 22px;
  margin-bottom: 15px;
  color: #000;
}
.profile-image-container {
  position: relative;
  width: 80px;
  height: 80px;
  margin: 0 auto 20px;
  cursor: pointer;
}
.profile-image-container img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.upload-icon {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 24px;
  height: 24px;
  background-color: #000;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.form-label {
  display: block;
  text-align: left;
  width: 100%;
  max-width: 300px;
  font-weight: 600;
}
.form-input-group {
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  max-width: 300px;
  box-shadow: 0 1px 3px rgb(0 0 0 / .2);
  border: 1px solid #ccc;
}
.form-input-group input {
  padding: 0;
  border: none;
  outline: none;
  width: 100%;
  font-size: 16px;
  color: #555;
}
.form-dropdown {
  display: flex;
  align-items: center;
  height: 44px;
  width: 100%;
  max-width: 300px;
  background: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgb(0 0 0 / .2);
  border: 1px solid #ccc;
  font-size: 16px;
  cursor: pointer;
}
#profileButtons {
  width: 100%;
  max-width: 300px;
  margin-top: 10px;
}
.continue-btn {
  background-color: #2196f3;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
}
.continue-btn:hover {
  background-color: #1976d2;
}