/* Bottom Navigation */
.bottom-nav {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #036;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 999;
}
.nav-btn {
  text-align: center;
  color: #fff;
  text-decoration: none;
  font-size: 12px;
  /* Adjust padding for better touch targets */
  padding: 4px 0;
}
.nav-btn i {
  height: 35px;
  font-size: 32px;
  display: block;
  margin-bottom: 3px;
}
.nav-btn span {
  display: block;
}
.nav-btn.active-home {
  color: orange;
}
.nav-btn.active-home i {
  color: orange;
}
.course-btn {
  position: relative;
  top: -10px;
  z-index: 10;
}
.course-btn .circle-icon {
  width: 50px;
  height: 50px;
  background-color: #00bfff;
  border: 3px solid #fafafa;
  border-radius: 50%;
  margin: 0 auto 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.course-btn .circle-icon i {
  font-size: 32px;
  color: #fff;
}
.course-btn span {
  color: #fff;
}
.profile-img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 2px solid #fff;
  object-fit: cover;
  cursor: pointer;
}
.profile-img:hover {
  border-color: #ffdf00;
  transform: scale(1.1);
}